<nav
  class="navbar navbar-expand-sm"
  style="background-color: rgb(164, 192, 116)"
>
  <ul
    class="navbar-nav"
    style="
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;
      gap: 10vh;
      font-size: 18px;
      color: white;
      font-family: Arial, sans-serif;
      font-weight: 600;

      align-items: center;
    "
  >
    <li class="nav-item">
      <a routerLink="loginsuccess" routerLinkActive="active" class="nav-link"
        >Home</a
      >
    </li>
    <li class="nav-item" *ngIf="role === 'Farmer'">
      <a routerLink="hire-equipment" routerLinkActive="active" class="nav-link"
        >Farm Equipment to Hire</a
      >
    </li>
    <li class="nav-item" *ngIf="role === 'Equipment_Owner'">
      <a routerLink="equipment" routerLinkActive="active" class="nav-link"
        >Onboard Farm Equipment</a
      >
    </li>
    <li class="nav-item" *ngIf="role === 'Farmer'">
      <a
        routerLink="view-hired-equipment"
        routerLinkActive="active"
        class="nav-link"
        >View Hired Equipment</a
      >
    </li>
    <li class="nav-item" *ngIf="role === 'Farmer'">
      <a
        routerLink="create-item-list/{{ emailId }}"
        routerLinkActive="active"
        class="nav-link"
        >My Farm Goods</a
      >
    </li>
    <li class="nav-item" *ngIf="role === 'Trader'">
      <a routerLink="view-traders" routerLinkActive="active" class="nav-link"
        >Trader</a
      >
    </li>
  </ul>
</nav>
<button
  class="btn btn-info"
  (click)="logoutFunction()"
  style="margin-left: 160ch; margin-top: 30px"
>
  Logout
</button>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span
      >Digital Bussiness
      <span
        >CopyRight @2022 HCL TechnologiesLimited | www.hcltech.com</span
      ></span
    >
  </div>
</footer>
