<img src="./assets/{{ imagePath }}" alt="" style="width: 100%; height: 100%" />
<img src="./assets/{{ imagePath2 }}" />
<!-- <nav
  class="navbar navbar-expand-sm"
  style="background-color: rgb(164, 192, 116)"
>
  <ul
    class="navbar-nav"
    style="
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;
      gap: 10vh;
      font-size: 18px;
      color: white;
      font-family: Arial, sans-serif;
      font-weight: 600;

      align-items: center;
    "
  >
    <li class="nav-item">
      <a routerLink="registration" routerLinkActive="active" class="nav-link"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="hire-equipment" routerLinkActive="active" class="nav-link"
        >Farm Equipment to Hire</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="equipment" routerLinkActive="active" class="nav-link"
        >Onboard Farm Equipment</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="view-hired-equipment"
        routerLinkActive="active"
        class="nav-link"
        >View Hired Equipment</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="create-item-list"
        routerLinkActive="active"
        class="nav-link"
        >My Farm Goods</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="view-traders" routerLinkActive="active" class="nav-link"
        >Trader</a
      >
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span
      >Digital Bussiness
      <span
        >CopyRight @2022 HCL TechnologiesLimited | www.hcltech.com</span
      ></span
    >
  </div>
</footer> -->
