<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<div style="margin-top: 50px; margin-bottom: 70vh">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="background-color: rgb(52, 145, 202); color: white">
          Equipment
        </th>
        <th style="background-color: rgb(52, 145, 202); color: white">
          Equipment Name
        </th>
        <th style="background-color: rgb(52, 145, 202); color: white">
          Equipment Owner
        </th>
        <th style="background-color: rgb(52, 145, 202); color: white">
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img [src]="" alt="" style="width: 50px; height: 50px" />
        </td>
        <td>{{ equipmentsData.eImage }}</td>
        <td>
          Equipment_Owner{{ equipmentsData.equipmentId }}EquipId_{{
            equipmentsData.equipmentId
          }}
        </td>
        <td><button class="btn btn-secondary">Return</button></td>
      </tr>
    </tbody>
  </table>
</div>
